{% extends 'main/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
    <div class="section">
        <h2>let's get you signed up.</h2>
        <label for="first-name">your first name</label>
        <input class="u-full-width" type="text" placeholder="First Name" id="first-name">
        <label for="last-name">your last name</label>
        <input class="u-full-width" type="text" placeholder="Last Name" id="last-name">
        <label for="last-name">your email address</label>
        <input class="u-full-width" type="text" placeholder="email@example.com" id="email">

        <button id="next" class="button-primary">next</button>
    </div>
{% endblock %}